/**
* File: variables.styl
* Author: Alex Arriaga (@alex_arriaga_m) - http://www.alex-arriaga.com
* Date: 21/Aug/2014
*/

//////////////////////////////////////////////////////////////////////
// Define all variables you want to use in other files.
//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
// Variables for UI
//////////////////////////////////////////////////////////////////////
$blue     = #2B4776
$orange   = #E87400
$dark_gray = #444
$dark_blue = #2b4d80
$light_gray= #ccc

//////////////////////////////////////////////////////////////////////
// Variables for responsive
//////////////////////////////////////////////////////////////////////
$screen-sm-min = 768px
$screen-md-min = 992px
$screen-lg-min = 1200px